body
{
    background-position: center;
    background-size: cover;
}

.link
{
    background: yellowgreen;
    border-radius: 10px;
    width: 20%;
    border-spacing: 40px;
    font-size: 25;
    margin: 10;
}